/*	Imports		*/
	@import url('https://fonts.googleapis.com/css?family=Lobster');
	@import url('https://fonts.googleapis.com/css?family=Eczar');
	@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
	@import url('https://fonts.googleapis.com/css?family=Aldrich');
	@import url('https://fonts.googleapis.com/css?family=VT323');
header	{
	display: block;
	margin: auto;	
	}
footer	{
	display: block;
	margin: auto;
	}
h1	{
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 400%;
	text-shadow: 6px 6px 6px #FFFFFF;
	background-color: #000000
	}
h2	{
	text-align: center;	
	font-size: 250%;
	font-family: 'Permanent Marker', cursive;
	text-shadow: 5px 5px 5px #FFFFFF;
	}
h3	{
	font-size: 175%;
	font-family: 'Permanent Marker', cursive;
	text-shadow: 4px 4px 4px #FFFFFF;
 	}
h4	{
	font-size: 138%;
	font-family: 'Permanent Marker', cursive;
	text-shadow: 3px 3px 3px #FFFFFF;
	}
h5	{
	font-size: 119%;
	 font-family: 'Permanent Marker', cursive;	
	 text-shadow: 2px 2px 2px #FFFFFF;
	}
h6	{
	font-size: 109%;
	font-family: 'Permanent Marker', cursive;
	text-shadow: 1px 1px 1px #FFFFFF;
	}
p	{
	color: #FFFFFF;
	padding: 12px;
	background-color: #000000
	}
#all	{
	display: block;
	margin: auto;
	max-width: 2000px;
	min-width: 300px;
	width: auto;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #000000;
	background-image: url(https://i3wbra.bl3302.livefilestore.com/y3mUMuyBir58AjoXZ20XIRCCVSppaDquuzi1vOwNE5I7qLnzzMLz4XP7j70wbDk8ySjkubWglDaZCu3d6jPGNV-A5K8rQGaP-Fuhbx9MeVKrUqV5b9fXxQ0mgQ1ketplQqv3A6dKIUqK_hkXcA8twpv5niFOygdf69G1QFOUEHeVt4/Art1forsite.jpg?psid=1);
	padding: 1%;
	}
.navbar {
        color: #000000;
	font-family: 'Aldrich', sans-serif;
	text-decoration: none;
        }
.navnavbar	{
	display: block;
	margin: auto;
	max-width: 2000px;
	min-width: 300px;
	width: auto;
	text-decoration: none;
	}
.heading{
	color: #ff0000;
	}
.subhead{
	color: #d6d6d6;
	text-align: center;
	font-size: 120%;
	}
li a	{
	display: block;
	color: #FFFFFF;
    	padding: 1%;
    	text-decoration: none;
	background-color: #808080;
	border: 2px solid #000000;
	}
li a:hover	{
	color: #FFFFFF;
	text-shadow: 3px 3px 3px #ff0000;
	}
